@charset "UTF-8";

/* header */

.mainNav_bar {
    border-bottom: solid 1px #E1E2E1;
    line-height:2.5em;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
    padding: 0;
}


.main_left{
    display:flex;
    align-text:center;
    width:60%;
}

.mainCate {
    height: 100%;
    list-style:none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 400;
    padding:0;
}

.mainCate > li {             
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main_right {
	 style="width:40%;
	 text-align: center;
}

.main_right button {
    border-radius: 40px;
    border: solid 1px #E1E2E1;
    width: 90px;
    height: 35px;
    font-weight: 400;
}

.btn_login {
    margin-right: 10px;
    background-color: white;
}

.btn_regist {
	background-color: #208EC9;
	color:white;
}

.btn_login:hover {
	background-color: #F5F5F6;
}
.btn_regist:hover {
	background-color: #14587D;
}

.login > i,
.login_academy > i {
	color:#E1E2E1;
	padding-right:30px;
}

.login_academy span {
	color: grey;
	margin-right:15px;
}

/* 메뉴 a태그 색상 바꾸기 시작 */

.my.mainCate > li > a.nav-link{
  z-index:0;
  color: black;
}
.my.mainCate > li > a.nav-link:hover {
	color: #208EC9;
}
/* 메뉴 a태그 색상 바꾸기 끝 */


a.profile_image_box {
	width:13px;
	height:13px;
	border-radius: 50%;
	padding: 0;
}

a.profile_image_box img {
	width:100%;
  	height:100%;
  	border-radius: 50%;
}