@charset "UTF-8";

a {
   cursor:pointer;
}

p {
	margin: 0;
}

/* mainNav_bar */

.mainNav_bar {
	display:flex;
	align-content: center;
    border-bottom: solid 1px #E1E2E1;
    height:60px;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
    padding: 0;
}

div#btn_slide_menu_open{
	cursor:pointer;
	display:none;
}



/* 이미지와 카테고리 영역 */

.main_left{
    display:flex;
    align-text:center;
    width:70%;
    height:100%;
}

.mainCate {
   height:100%;
    list-style:none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.mainCate > li {             
    display: flex;
    width:100px;
    justify-content: space-between;
    margin: 0 20px;
}

/* 메뉴 a태그 색상 바꾸기 */
.mainCate > li > a.nav-link:not(.adminMenu){
   color: black;
}
.mainCate > li > a.nav-link:hover:not(.adminMenu) {
   color: #208EC9;
}

/* 관리자 로그인 시 메뉴 a 태그 색상 수정 */
.adminMenu {
   color: #208EC9;
}



/* ------------------------------------------------- */



/* 마이페이지와 로그인 등 영역 */

.main_right {
   width:200px;
   height: 100%;
   display:flex;
   justify-content: end;
   align-items: center;
}

/* 비로그인 시 버튼 디자인 */
.non-login {
   width:200px;
}

.main_right > .non-login button {
    border-radius: 40px;
    border: solid 1px #E1E2E1;
    width: 90px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.btn_login {
    margin-right: 10px;
    background-color: white;
}
.btn_login:hover {
   background-color: #F5F5F6;
}

.btn_regist {
   background-color: #208EC9;
   color:white;
}
.btn_regist:hover {
   background-color: #14587D;
}


/* 로그인 시 아이콘 디자인 */
.login {
   width:150px;
   height:100%;
}

.login_icon {
   font-size:17px;
   color:#E1E2E1;
   cursor:pointer
}

.login_icon:hover {
   color: #208EC9;
}



/* 로그인 시 버튼의 Dropdown 기능 */
.dropbtn {
   width: 35px;
   height: 35px;
   border-radius: 50%;
     border: none;
     display: flex;
     justify-content: center;
     align-content: center;
     cursor: pointer;
     margin: 0;
     padding: 0;
}

.dropbtn img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border: solid 1px grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   float: right;
   position: relative;
   display: inline-block;
}



/* Dropdown 내용물 (Hidden by Default) */
/* 알람 dropcontent */
.dropdown-content1 {
   width:340px;
   height:250px;
   display: none;
   position: absolute; top:40px;
   background-color: white;
   border-radius:10px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   right: 0;
   z-index: 2;
}

/* 알람 dropcontent 의 title */
.dropdown-content1 a:first-child {
   width: 100%;
   line-height: 30px;
   background-color: #FAFAFA;
   border-radius: 10px 10px 0 0;
   text-align: start;
   padding-left: 15px;
   border-bottom: solid 1px #E1E2E1;
   font-weight:500;
}

/* 알람 dropcontent 밑줄 설정 */
.div_alarm_content > .alarm_content:not(.alarm_content:first-child) {
   border-top: solid 1px #E1E2E1;
}

.alarm_content {
	padding: 10px 0;
	cursor: pointer;
}

.alarm_content:hover > .alarm_text {
	text-decoration: underline;
}

.alarm_info {
	width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.like, .reple {
    color: #208EC9;
}

.declare {
	color: red;
}


/* 프로필과 관리자 dropcontent */
.dropdown-content2,
.dropdown-content3 {
   display: none;
   position: absolute; top:40px; 
   background-color: white;
   border-radius:10px;
   min-width: 179px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
   z-index: 2;
}


/* Links inside the dropdown */
.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
   color: black;
   padding: 8px 18px;
   text-decoration: none;
   display: block;
   margin:0;
}

.dropdown-content2 a:last-child:not(#admin_link){
   border-top:   solid 1px #E1E2E1;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {color: #208EC9; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* 슬라이드 메뉴 시작 */
div#slide_mask { 
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; left: 0; 
  background: #000; 
  opacity: 0.6; 
  z-index: 3; 
  display: none; 
}
div#slide_menu { 
  width: 80%; 
  height: 100%; 
  background: #fff; 
  position: fixed; 
  top: 0; 
  right: 0; 
  z-index: 4; 
  display: none; 
  transform: translateX(-100%); 
  left:100%;
}
ul#menu_list{
  margin-top:40px;
  list-style: none;
  font-size: medium;
  font-weight: bold;
}

ul#menu_list > li{
  line-height: 50px;
  padding-left: 20px;
  font-size:13px;
}

ul#menu_list > li > a{
  font-size:13px;
}

ul#menu_list > li > a:link {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:visited {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:hover {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:active {
  color : #000000;
  text-decoration: none;
}
ul#menu_list > li > a:hover{
  color:#208EC9;
}
div#menu_close { 
  width: 25px; 
  height: 25px; 
  position: absolute; 
  top: 15px; 
  right: 15px;
  cursor: pointer;
  font-size: x-large;
  color:gray;
}
#btn_menu_close{
  position:relative;
  left:6px;
}
/* 슬라이드 메뉴 끝 */


/* 스크롤탑버튼 시작*/

#scroll-to-top {
    position: fixed;
    font-size: 21px;
    bottom: 40px;
    right: 2%;
    display:none;
    z-index: 99;
    text-align: center;
    transform: translateY(30%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#scroll-to-top:last-child {
  transition: transform 0.7s ease-in-out;
}

@media (max-width: 600px) {
	#scroll-to-top{
        font-size: 20px;
	}
}

#scroll-to-top span {
    cursor: pointer;
    color: #1a1d243f;
}


/* 스크롤탑버튼 끝 */


/* 체크박스 또는 라디오 검은색 으로 만들기 */
:checked {
    accent-color: black;
}

div#start_login{
	display:flex;
}


@media screen and (max-width: 900px){
  div#btn_slide_menu_open{
    display:inline-block;
  }
  div#btn_slide_menu_open:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  }
  div.non-login{
  	display:none;
  }
  ul.mainCate{
  	display:none;
  }
  .main_left{
  	width:150px;
  }
  .main_right{
  	width:50px;
  }
  div#start_login{
	display:none;
  }
}
