@charset "UTF-8";


/* 검색 리스트 영역 */
.detail_category {
	font-size:13px;
}

.subject > a {
	font-weight: 700;
	font-size:18px;
	max-width: 90%;
	display:flex;
	align-items: center;
	white-space: normal;
	line-height: 20px;
	max-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical
}

.subject > a:link { color: #208EC9; }
.subject > a:visited { font-weight:500; color:#848484; }

.subject > .write_date {
	font-size:10px;
	color: darkgrey;
}

.content > a,span {
	color: #848484;
	font-size: 13px;
	white-space: normal;
	line-height: 15px;
	max-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}



/* Hashtag*/
a.search_hashtag {
	margin-right: 10px;
	font-size:13px;
	color: black;
}

a.search_hashtag > span {
	color: black;
}

a.search_hashtag:hover > span {
	color: #208EC9;
}
