@charset "UTF-8";



/* 총갯수 css */
div#total_cnt{
  font-weight: bold;
}



/* 광고리스트 css 시작 */
div#title{
  font-weight: bold;
  background-color:#208EC9;
  color:white;
}

/* 구분 옵션 클릭시 */
div#divDivision{
  position:relative;
}

div#divisionOption{
  position:absolute;
  left:21%;
  z-index: 3;
  background-color:white;
  color:black;
  font-weight: lighter;
}
div#divisionOption > div:hover{
  cursor:pointer;
}
span#btn_division_option{
  cursor:pointer;
}

/*     */


div#advertisementStatus{
  position:relative;
}
div#advertisementStatusOption{
  position:absolute;
  right:21%;
  z-index: 3;
  background-color:white;
  color:black;
  font-weight: lighter;
}
div#advertisementStatusOption > div:hover{
  cursor:pointer;
}
span#advertisementStatusOption{
  cursor:pointer;
}



div.list_box{
  cursor:pointer;
}
div.list_box:hover{
  background-color: #f0f0f5;
}

div.division{
  width:13%;
}
div.client_name{
  width:22%;
}
div.client_phone{
  width:25%;
}
div.period{
  width:30%;
}
div.status{
  width:15%;
}

/* 광고리스트 css 끝 */






/* 768px 미만 미디어쿼리 */
@media screen and (max-width: 768px){
  div#section{
    flex-direction: column-reverse;
  }
  
  div.division{
    width:23.25%;
  }
  div.client_name{
    width:24.25%;
  }
  div.client_phone{
    width:31.25%;
  }
  
  div.period{
    display:none;
  }
  
  div.status{
    width:21.25%;
  }
}




