@charset "UTF-8";


/* 사이드바 시작 */
div#sidebar{
  border-right:solid 1px #EBEBEB;
  width:300px;
  padding-right:48px;
}
h4#sidebar_title{
  font-weight: bold;
}
div#sidebar > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 36px;
}

div#memberManageMenu{
  display:none;
}

div#sidebar >ul > li{
  cursor:pointer;
}
div#sidebar >ul > li:hover{
  background-color:#f0f0f5;
}

span.detail_menu{
  cursor:pointer;
}

span.detail_menu:hover{
  background-color:#f0f0f5;
}

/* 사이드바 끝 */



/* 768px 미만 미디어쿼리 */
@media screen and (max-width: 768px){
  div#sidebar{
    border-top:solid 1px #EBEBEB;
    width:100%;
  }
}
