@charset "UTF-8";
div#signup{
  min-width: 380px;
  width: 448px;
  font-size:small;
}

/* 로고 CSS */
div#logo_img_box{
  cursor: pointer;
  width:70px;
  height:70px;
  border:solid 1px gray;
}
img#logo{
  width:100%;
  height:100%;
}


/* sns회원가입 끝 */

.line{
  display:flex;
  flex-basis:100%;
  align-items: center;
  color:darkgray;
  font-size:14px;
  margin:8px 0px;
}
.line::before{
  content:"";
  flex-grow:1;
  margin:0px 16px;
  background-color: darkgray;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.line::after{
  content:"";
  flex-grow:1;
  margin:0px 16px;
  background: darkgray;
  height: 1px;
  font-size:0px;
  line-height: 0px;
}



/* input_signup */
input.input_signup{
  height:40px;
  outline: none;
  border:solid 1px #DEE2E6;
}
input.input_company_num{
  width:100px;
  height:40px;
  outline: none;
}
input.input_signup::placeholder,
input.input_company_num::placeholder{
  font-size:small;
}

/* label_signup */
label.label_signup{
  margin-bottom:4px;
  font-size:12px;
}


/* error_msg */
p.error{
  color:red;
  font-size:small;
  display:none;
}



/* ok_msg */
p.ok{
  color:blue;
  font-size:small;
  display:none;
}

button#btn_email_certification{
  background:white;
  color:black;
  font-size:x-small;
  font-weight:bold;
}



button#btn_signup{
  height:40px;
  background-color: #14587D;
  font-size:medium;
  font-weight: bold;
  color:white;
}

div#email_error_area{
  display:flex;
}




/* 토글스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 23px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* 토글스위치 끝 */




/* Modal */
button#btn_send_email{
  font-size:small;
}
input#input_certificationCode{
  height:40px;
}
input#input_certificationCode:focus{
  outline: none;
}
input#input_certificationCode::placeholder{
  font-size:small;
  
}
div#certification_area{
  display:none;
}
span#send_guide{
  font-size:small;
  color:gray;
}


@media screen and (max-width: 768px){
  div#signup{
    width: 360px;
  }
}
