@charset "UTF-8";


div.curriculum_row{
  display:flex;
}

div#curriculum_img_box{
  position:relative;
}
div#curriculum_img_box > img{
  position:absolute;
  width: 100%;
  height: 100%;
}
div.curriculum_title{
  width: 150px;
  border-right:solid 1px #DEE2E6;
}




/* 768px 미만 미디어쿼리 */
@media screen and (max-width: 768px){
  div.curriculum_row{
    display:block;
  }
  div.curriculum_title{
    display: none;
  }
}