@charset "UTF-8";
/* navbar 시작*/
div#sort_area{
  height: 60px;
}

div#sort{
  cursor:pointer;
  position:relative;
  height: 40px;
  width:70px;
  font-size:small;
}

/* 정렬 모달창 시작*/
div#mask{
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; left: 0; 
  opacity: 0; 
  z-index: 2; 
  display: none;
}

div#sort_option{
  position: absolute;
  top:50px;
  right:0;
  background-color: white;
  z-index: 3;
  width:160px;
  line-height: 30px;
  display: none;
}

div#sort_option > span{
  cursor:pointer;
}

/* 정렬 모달창 끝 */




/****************** 게시판 시작 ****************/
a.writer_image_box{
  position:relative;
  padding:0;
  margin:0;
  width:20px;
  height:20px;
  border-radius: 50%;
}


a.writer_image_box > img{
  position:absolute;
  width:100%;
  height:100%;
  border-radius: 50%;
}

div.write_date{
  font-size:12px;
  color : darkgray;
}

a.writer_nickname:link {
  color : black;
  text-decoration: none;
}
a.writer_nickname:visited {
  color : black;
  text-decoration: none;
}
a.writer_nickname:hover {
  color : #0090F9;
  text-decoration: none;
}
a.writer_nickname:active {
  color : black;
  text-decoration: none;
}

div.academy_name{
  font-size:16px;
}
a.subject{
  font-size:20px;
}

a.subject:link {
  color : black;
  text-decoration: none;
}
a.subject:visited {
  color : black;
  text-decoration: none;
}
a.subject:hover {
  color : #0090F9;
  text-decoration: none;
}
a.subject:active {
  color : black;
  text-decoration: none;
}


div.detail_category{
  font-size:10px;
  font-weight: bold;
  color:#0090F9;
  background-color:#D1E9FA;
  cursor:pointer;
}
div.detail_category:hover{
  color:#74ADE5;
}

a.hashtag:link {
  color : black;
  text-decoration: none;
}
a.hashtag:visited {
  color : black;
  text-decoration: none;
}
a.hashtag:hover {
  color : #0090F9;
  text-decoration: none;
}
a.hashtag:active {
  color : black;
  text-decoration: none;
}
div.hashtag{
  font-size:12px;
}
div.board_info_box{
  /* color:#374151; */
  color:darkgray;
  width:170px;
}

/****************** 게시판 끝 ****************/

div#total_cnt{
  font-size:small;
  font-weight: bold;
  color:black;
}



/* 페이지바 시작*/

/* a태그 데코레이션 없애기 시작 */
a.page-link:link {
  color : black;
  text-decoration: none;
}
a.page-link:visited {
  color : black;
  text-decoration: none;
}
a.page-link:hover {
  color : black;
  text-decoration: none;
}
a.page-link:active {
  color : black;
  text-decoration: none;
}
/* a태그 데코레이션 없애기 끝 */ 


.my.pagination > .active > a, 
.my.pagination > .active > span, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > span:hover, 
.my.pagination > .active > a:focus, 
.my.pagination > .active > span:focus {
  z-index:0;
  background: #208EC9;
  border-color:#208EC9;
  color: white !important;
}

/* 페이지 바 끝 */


/* button */
button#btn_write{
  background-color: #208EC9;
  color:white;
  height: 40px;
  width:136px;
}
button#btn_write:hover{
	background-color: #14587D;
}

/* 정렬  */
div#sort_option > span:hover {
  color: #14587D;
}


@media screen and (max-width: 768px){
  div.hashtag{
    font-size:10px;
  }

}



