@charset "UTF-8";
div#findIdFrm{
  font-size:small;
}

div#findIdFrm{
  min-width: 380px;
  width: 448px;
}

div#logo_img_box{
  cursor: pointer;
  width:100px;
  height:100px;
}
img#logo{
  width:100%;
  height:100%;
}


button#btn_close,
button#btn_findMyId{
  width:48%;
  font-weight: bold;
}
button#btn_findMyId{
  background-color:#208EC9;
  color:white;
}
button#btn_findMyId:hover{
  background-color:#14587D;
}


label[for='email']{
  font-size:x-small;
}

input#email{
  height:40px;
  outline:none;
}

input#email::placeholder{
  font-size:small;
}

div#findMyIdError{
  background-color:#F0F6FA;
  color:#991B1B;
  font-weight: bold;
}

div#findMyIdError{
  display:none;
}



