@charset "UTF-8";


div#category > div.active{
  background-color: #0090F9;
  color:white;
}
div#category div{
  cursor:pointer;
  font-weight:bold;
}

@media screen and (max-width: 768px){
  div#category{
    font-size:14px;
  }
}