@charset "UTF-8";


/* ----- 검색창 영역 CSS 시작 ----- */

/* input 영역 수정*/
#searchWord {
   width: 70%;
   height: 50px;
   border: solid 3px #208EC9;
   border-right: none;
   border-radius: 100px 0 0 100px; /* border 동그란 정도 설정 */
}

#searchWord::placeholder{
   font-size:small;
}

/* 검색 버튼 css */
#btn_search {
   border: 3px solid #208EC9;
   border-left:none;
   border-radius: 0 100px 100px 0; /* border 동그란 정도 설정 */
   background-color: white;
   width: 50px;
}


/* 검색창 끝 */
