@charset "UTF-8";


/* ----- 검색창 영역 CSS 시작 ----- */

div.searchBar{
	width:70%;
}

#searchWord {
   width: 100%;
   height: 40px;
   border-radius:100px 100px 100px 100px;    /* border 동그란 정도 설정 */
   border:solid 2px #208EC9;
   padding: 2px 5px;
}


/* input 영역 수정*/
#searchWord {
   width: 80%;
   height: 40px;
   border:solid 3px #208EC9;
    border-radius: 100px 0 0 100px;
    border-right:none;
    padding: 2px 5px;
}

/* 검색 버튼 css */
#btn_search {
   border:3px solid #208EC9;
   border-radius:0 100px 100px 0;    /* border 동그란 정도 설정 */
   border-left:none;
   background-color: white;
   width: 8%;
}


/* 검색창 끝 */
