h5.title{
  font-weight: bold;
}


div.container{
  min-width: 380px;
  width:80%;
}

svg{
  width:100%;
  height: 100%;
}

div.svg_box{
  width:60px;
  height:60px;
}



span.link-title{
  font-size:large;
  font-weight: bold;
}

ul.guide_text{
  margin:0;
  padding:0;
  list-style: none;
  line-height: 18px;
}

ul.guide_text > li{
  font-size:x-small;
}

label[for='TOS_agree'],
label[for='guide_agree']{
  font-size:small;
}

div#division_box > div{
  width:49%;
  border-radius:20px;
  cursor: pointer;
}

div#division_box > div:hover{
  border-radius:20px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}


@media (max-width: 768px) {
  div.container{
    width:90%;
  }

  span.link-title{
    font-size:16px;
    font-weight: bold;
  }
}