@charset "UTF-8";
/* navbar �떆�옉*/
div#nav{
  height: 60px;
}

div#category > div.active{
  background-color: #0090F9;
  color:white;
}
div#category > div{
  cursor:pointer;
  font-weight:bold;
}


div#sort{
  cursor:pointer;
  position:relative;
  height: 40px;
  width:70px;
  font-size:small;
}

/* �젙�젹 紐⑤떖李� �떆�옉*/
div#mask{
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; left: 0; 
  opacity: 0; 
  z-index: 2; 
  display: none;
}

div#sort_option{
  position: absolute;
  top:50px;
  right:0;
  background-color: white;
  z-index: 3;
  width:160px;
  line-height: 30px;
  display: none;
}

div#sort_option > span{
  cursor:pointer;
}

/* �젙�젹 紐⑤떖李� �걹 */

/* navbar �걹*/


/* filter �떆�옉*/
div#filter_area{
  height:60px;
}

div#btn_filter{
  width:40px;
  cursor: pointer;
}

label{
  font-size:small;
}



/* filter �걹 */





/****************** 寃뚯떆�뙋 �떆�옉 ****************/
a.writer_image_box{
  width:20px;
  height:20px;
  border-radius: 50%;
}


div.writer_image_box > img{
  width:100%;
  height:100%;
  border-radius: 50%;
}

div.write_date{
  font-size:12px;
  color : darkgray;
}

a.writer_nickname:link {
  color : black;
  text-decoration: none;
}
a.writer_nickname:visited {
  color : black;
  text-decoration: none;
}
a.writer_nickname:hover {
  color : #0090F9;
  text-decoration: none;
}
a.writer_nickname:active {
  color : black;
  text-decoration: none;
}



a.subject:link {
  color : black;
  text-decoration: none;
}
a.subject:visited {
  color : black;
  text-decoration: none;
}
a.subject:hover {
  color : #0090F9;
  text-decoration: none;
}
a.subject:active {
  color : black;
  text-decoration: none;
}


div.detail_category{
  font-size:10px;
  font-weight: bold;
  color:#0090F9;
  background-color:#D1E9FA;
  cursor:pointer;
}
div.detail_category:hover{
  color:#74ADE5;
}

a.hashtag:link {
  color : black;
  text-decoration: none;
}
a.hashtag:visited {
  color : black;
  text-decoration: none;
}
a.hashtag:hover {
  color : #0090F9;
  text-decoration: none;
}
a.hashtag:active {
  color : black;
  text-decoration: none;
}
div.hashtag{
  font-size:12px;
}
div.board_info_box{
  /* color:#374151; */
  color:darkgray;
  width:170px;
}

/****************** 寃뚯떆�뙋 �걹 ****************/

div#total_cnt{
  font-size:small;
  font-weight: bold;
  color:black;
}



/* �럹�씠吏�諛� �떆�옉*/

/* a�깭洹� �뜲肄붾젅�씠�뀡 �뾾�븷湲� �떆�옉 */
a.page-link:link {
  color : black;
  text-decoration: none;
}
a.page-link:visited {
  color : black;
  text-decoration: none;
}
a.page-link:hover {
  color : black;
  text-decoration: none;
}
a.page-link:active {
  color : black;
  text-decoration: none;
}
/* a�깭洹� �뜲肄붾젅�씠�뀡 �뾾�븷湲� �걹 */ 


.my.pagination > .active > a, 
.my.pagination > .active > span, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > span:hover, 
.my.pagination > .active > a:focus, 
.my.pagination > .active > span:focus {
  z-index:0;
  background: #14587D;
  border-color:#14587D;
  color: white;
}

/* �럹�씠吏� 諛� �걹 */


/* button */
button#btn_write{
  background-color: #14587D;
  color:white;
  height: 40px;
  width:136px;
}


/* 寃��깋李� �떆�옉 */


div#search_area{
  width:400px;
}
button#search{
  margin-left:auto;
  width:100%;
  height:100%;
}
input#searchWord{
  height:40px;
  border:none;
}
input#searchWord::placeholder{
  font-size:small;
}
input#searchWord:focus { 
	outline: none; 
}
div#academy_search{
  width:100%;
  border:solid 1px black;
}
div#search_btn{
  margin-left:auto;
  width:70px;
  height:100%;
  border-left:solid 1px black;
}



/* 寃��깋李� �걹 */


@media screen and (max-width: 768px){
  div.hashtag{
    font-size:10px;
  }

}



