@charset "UTF-8";

body {font-family: 'Noto Sans KR', sans-serif; }

#mycontainer	{}
#myheader		{ font-size: 13px;}
#mycontent		{}
#myfooter		{}
	


/* header */
a* {
	text-decoration:none;
}
.mainNav_bar {
    border-bottom: solid 1px #E1E2E1;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
}


.main_left{
    display:flex;
}

.mainCate {
    height: 100%;
    list-style:none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 400;
}

.mainCate > li {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}



.main_right button {
    border-radius: 40px;
    border: solid 1px #E1E2E1;
    width: 90px;
    height: 35px;
    font-weight: 400;
}

.btn_login {
    margin-right: 10px;
}





/* main */

/* footer */