@charset "UTF-8";


/* 사이드바 시작 */
div#sidebar{
  border-right:solid 1px #EBEBEB;
  width:330px;
}
h5#sidebar_title{
  font-weight: bold;
}
div#sidebar > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 36px;
}


/* 사이드바 끝 */


